set hlsearch
set ignorecase
set number
set relativenumber

set ideajoin
set ideamarks
set idearefactormode="visual"

set NERDTree
set surround
set commentary

let mapleader=" "
inoremap jj <ESC>
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-s> :bn<CR>
nnoremap <C-a> :bp<CR>
nnoremap <silent> <leader><leader> :nohlsearch<CR>
nnoremap <silent> <leader>F <Action>(ReformatCode)

map <leader>e :NERDTree<CR>

autocmd InsertLeave * :silent !fcitx5-remote -c
